body {
      margin: 0;
      padding: 0;
      background-color: #000;
      color: #fff;
      font-family: 'Courier New', Courier, monospace;
      height: 100vh;
      overflow: hidden;
      cursor: crosshair;
    }

h1 {
  color: #005577;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.p {
  font-family: 'Arial', sans-serif;
  font-size: 18em;
  position: absolute;
  top: 50%;
  left: 10%
}